imap jj <ESC>

nmap <SPACE>v <C-w>v
nmap <SPACE>s <C-w>s
nmap <SPACE>l <C-w>l
nmap <SPACE>h <C-w>h
nmap <SPACE>j <C-w>j
nmap <SPACE>k <C-w>k
nmap <SPACE>q :q!<CR>
nmap <SPACE>w :wa!<CR>

nmap <SPACE>b :action RecentFiles<CR>
nmap <SPACE>p :action GotoClass<CR>

nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap <C-l> :noh<CR>

set surround
set hlsearch
set incsearch
set rnu
set nu
